<div>
<div class="container">
    <div class="input-fields-section">
     
      <h1>
        Ascent Logistics
      </h1>
   
      <div class="input-txt-box">
        
          <!-- Form controls will be added here -->
 
      <input type="text" placeholder="Item" [(ngModel)]="Item">  
      <input type="text" placeholder="Size" [(ngModel)]="Size">  
      <input type="text" placeholder="Currency" [(ngModel)]="Currency"> 
      <button>
        Submit
      </button> 

      <p>Item: {{ Item }}</p>
      <p>Size: {{ Size }}</p>
      <p>Currency: {{ Currency }}</p>

     

      



    </div>

</div>

</div>